<!-- Footer -->
<div class="footer">
    <footer id="footer" class="text-center text-lg-start bg-light text-muted ">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom ">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with me on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="linkedin.com/in/esmael-mohammed-10ba5a197" class="me-4 link-secondary">
                    <fa-icon [icon]="faLinkedin" class="fab fa-linkedin"></fa-icon>
                </a>
                <a href="https://github.com/esmiz-dream" class="me-4 link-secondary">
                    <fa-icon [icon]="faGithub" class="fab fa-github"></fa-icon>
                </a>
                <a href="" class="me-4 link-secondary">
                    <fa-icon [icon]="faTwitter" class="fab fa-twitter"></fa-icon>
                </a>
                <a href="" class="me-4 link-secondary">
                    <fa-icon [icon]="faGoogle" class="fab fa-google"></fa-icon>
                </a>
                <a href="" class="me-4 link-secondary">
                    <fa-icon [icon]="faInstagram" class="fab fa-instagram"></fa-icon>
                </a>
               
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4  ">
                            <!-- <fa-icon [icon]=""  class="fas fa-gem me-3 text-secondary"></fa-icon>Company name -->
                        </h6>
                        <p class=" ">
                            Hi Guys, I am Esmael Mohammed this is practical small project to practice Angular
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4  ">
                            Techs
                        </h6>
                        <p class=" ">
                            Angular 16
                        </p>
                        <p class=" ">
                            <a class=" " href="https://my-json-server.typicode.com/esmiz-dream/cms-mock-api/" class="text-reset">Mock json server Api </a>
                        </p>
                        <p class=" "> 
                           Bootstrap
                        </p>
                        
                    </div>
                    <!-- Grid column -->

                   

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4  ">Contact</h6>
                        <p class=" "><fa-icon class="fas fa-home me-3 text-secondary  "></fa-icon> Addis Ababa, Ethiopia</p>
                        <p class=" ">
                            <fa-icon class="fas fa-envelope me-3 text-secondary  "></fa-icon>
                            esmi1920@gmail.com
                        </p>
                        <p class=" "><fa-icon class="fas fa-phone me-3 text-secondary  "></fa-icon> +251 925873168</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="#">esmiz-dream</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>
<!-- Footer -->